<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="js/crawler.js"></script>
<link href="css/cssO.css" rel="stylesheet" type="text/css" />
<link href="css/class.css" rel="stylesheet" type="text/css"/>
<title>Site Map</title></head>

<body background="img/hole.jpg" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="background">
<div id="container1">
<div id="container2">
<div style=" background:url(img/header.jpg) no-repeat; height:139px; position:relative;"> <a href="#">
<img style="position:absolute; right: 167px; top: 16px;" src="img/poweredByBessar.png" width="99" height="56" /></a>
</div>
        
<iframe name="crawler" src="crawler.html" width="1000" frameborder="0" height="22" ></iframe>
<br />
        
   	  <div id="navMenu">
        <a id="buttonHome" href="Index.html"></a>        
        <a id="buttonProducts" href="Products.html"></a>
        <a id="buttonSubs" href="Subs.html"></a>
        <a id="buttonAbout" href="About.html"></a>
        <a id="buttonContact" href="Contact.html"></a>
      </div>
      
   	  <div id="date" class="Arial11">
        <div style="border-bottom:1px dotted #999;">Thursday, 10 May 2012
      </div>
        
      <div style="clear:both;">
</div>

<div style="margin: auto 10px;" class="Arial12">
<img src="img/siteMap.png" width="121" height="30" />
<p/>
        <div id="site">
          <ul>
            <strong>Home</strong>
            <li><a href="#">Login</a></li>
                <li><a href="#">FIS Terminal</a></li> 
                <li><a href="#">FIS Web</a></li> 
                <li><a href="#">MSQ</a></li> 
                <li><a href="#">Malaysia Market Overview</a></li>
                <li><a href="#">BERNAMA News</a></li>  
                <li><a href="#">Query</a></li>               
          </ul>
            <p/>
            <ul>
            <strong>Products</strong>
                <li><a href="#">FIS Terminal</a></li>
                	<li id="sitelitwo"><a href="#">FIS Basic</a></li>
                    <li id="sitelitwo"><a href="#">FIS Plus</a></li>
                    <li id="sitelitwo"><a href="#">FIS Extra</a></li>
                <li><a href="#">FIS Web</a></li> 
                <li><a href="#">MSQ</a></li> 
                <li><a href="#">Solutions</a></li>
                	<li id="sitelitwo"><a href="#">Web Ticker</a></li>
                    <li id="sitelitwo"><a href="#">Systems Integrations</a></li>  
                <li><a href="#">BERNAMA News</a></li>  
                <li><a href="#">Query</a></li>               
            </ul>
            
     <p/>
            <ul>
            <strong>Subscription</strong>
                <li><a href="#">FIS Web Pricing Table</a></li>
                	<li id="sitelitwo"><a href="#">FIS Basic</a></li>
                    <li id="sitelitwo"><a href="#">FIS Plus</a></li>
                    <li id="sitelitwo"><a href="#">FIS Extra</a></li>
                <li><a href="#">MSQ Pricing Table</a></li> 
                    <li id="sitelitwo"><a href="#">FIS Basic</a></li>
                    <li id="sitelitwo"><a href="#">FIS Plus</a></li>
                    <li id="sitelitwo"><a href="#">FIS Extra</a></li>
             </ul>
                  
            <p/>
            <ul>
            <strong>About Us</strong>
                <li><a href="#">Background</a></li>
                <li><a href="#">Achievement</a></li> 
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li> 
             </ul>
             
            <p/>
            <ul>
            <strong>Contact Us</strong>
                <li><a href="#">Address, Map, Contact Number, Fax, etc</a></li>
            </ul>
              
              <p/>
              <p/>           
		</div>
        
</div>

<br style="clear:both" />  
      
    <div id="footer">
    	<div style="width:50%; margin-left: 20px; padding:5px auto; float:left;" class="Arial11">
        <font color="#999999">
        <a href="http://bessar.com.my/bessar/default.html">Bessar</a>  |
        <a href="Products2.html">Products</a> |
        <a href="Subs2.html">Subscription</a> |
        <a href="About2.html">About Us</a> |
        <a href="SiteMap.html">Sitemap</a> |
        </font>
        </div>
        
    	<br clear="all">
        <br/><br/>
        
        <div style="padding:5px auto; margin:0px auto; width:500px;" class="Arial11">
        <font color="#FFFFFF">
		Copyright reserved | Bernama Systems & Solutions Advisor Sdn Bhd © 2012 | Privacy Policy
        </font>
        <br/>
        </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>
