<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="js/crawler.js"></script>
<link href="css/cssO.css" rel="stylesheet" type="text/css" />
<link href="css/class.css" rel="stylesheet" type="text/css"/>
<title>Products</title>

</head>
<body background="img/hole.jpg" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="MM_preloadImages('img/signUpMO.jpg')">

<div id="background">
<div id="container1">
<div id="container2">
<div style=" background:url(img/header.jpg) no-repeat; height:139px; position:relative;"> <a href="#">
<img style="position:absolute; right: 167px; top: 16px;" src="img/poweredByBessar.png" width="99" height="56" /></a>
</div>

<iframe name="crawler" src="crawler.html" width="1000" frameborder="0" height="22" ></iframe>
<br />

<div id="navMenu">
        <a id="buttonHome" href="../index.php?watch=home"></a>        
        <a id="buttonProducts" href="Products.html"></a>
        <div id="SubsSelect"></div>
        <a id="buttonAbout" href="About.html"></a>
        <a id="buttonContact" href="Contact.html"></a>
      </div>
      
   	  <div id="date" class="Arial11">
        Thursday, 10 May 2012
    </div>
        
        <div style="clear:both;"></div>
            
<div style="background:url(img/navyHeight.jpg) repeat-x; height:200px; padding: 10px 0px 10px 50px; ">
<img src="img/Title_Subs.png" width="180" height="26" />
<br/>
<img id="imgFloat" src="img/imj1.jpg" width="200" height="140"  /> 
<div style="text-align:justify; width:50%; float:left;" class="Arial12" > <font color="#FFFFFF">
<h2 style="margin:0px; padding:0px;">Our Offer</h2>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
</font></div>

</div>

<div style="margin:20px auto; width:90%;">
<span class="title">Pricing Table</span>
<br/><br/>
	  
      <div style="float:left; width:250px; background:url(img/tabIn.jpg) repeat-x bottom #FFF; padding: 10px; border:5px solid #FFF; -moz-border-radius: 5px; border-radius: 5px; ">
      <span class="title01"><font color="#0099CC">FIS Basic</font></span>
      <br/>
      <span class="desc">For individual/retail investors. Very basic features.</span>
      <br/><br/>
      <div id="subsdesc">    
        <ul>
        <li>Exchange (1)</li>
        <li>Features (4)</li>
        <li>Analytics (2)</li>
        <li>Index View (1)</li>
        <li>News (1)</li>
        <li>Tools (3)</li>
        <li>Website (1)</li>
        </ul>
      </div>
      <a id="details" href="SubsList.html#basic" target="_self"></a>      
      <br/>
      </div>  
      
      <div style="float:left; width:250px; background:url(img/tabIn.jpg) repeat-x bottom #FFF; padding: 10px; border:5px solid #FFF; margin-left:2px;-moz-border-radius: 5px; border-radius: 5px; ">      
      <span class="title01"><font color="#00CC33">FIS Plus</font></span>
      <br/>
      <span class="desc">For Corporate and Professionals users. Entry level for DowJones Financial News.</span>
      <br/><br/>

        <div id="subsdesc">    
        <ul>
        <li>Exchange (2)</li>
        <li>Features (13)</li>
        <li>Analytics (7)</li>
        <li>Index View (6)</li>
        <li>Company Announcements (11)</li>
        <li>News (7)</li>
        <li>Tools (11)</li>
        <li>Website</li>
        </ul>
        </div>
        <a id="details" href="SubsList.html#plus" target="_self"></a>
        <br/> 
      </div>  
      
      <div style="float:left; width:250px; background:url(img/tabIn.jpg) repeat-x bottom #FFF; padding: 10px; border:5px solid #FFF; margin-left:2px; -moz-border-radius: 5px; border-radius: 5px; ">
      <span class="title01"><font color="#FF0000">FIS Xtra</font></span>
      <br/>
      <span class="desc">For Professional users. Superb all round coverage on Malaysia equity market.</span>
      <br/><br/>
      <div id="subsdesc">    
        <ul>
        <li>Exchange (2)</li>
        <li>Features (27)</li>
        <li>Analytics (6)</li>
        <li>Index View (7)</li>
        <li>Company Announcements (11)</li>
        <li>News (11)</li>
        <li>Tools (13)</li> 
        <li>MSQ</li>
        <li>FIS Web</li>               
          </ul>
        </div>
        <a id="details" href="SubsList.html#xtra" target="_self"></a>
        <br/>   
      </div>       
      <br clear="all"/>    
</div>

<div style="margin:20px auto; width:90%;">
  <div style="float:left; width:250px; background:url(img/tabIn.jpg) repeat-x bottom #FFF; height: 400px; padding: 10px; border:5px solid #FFF; margin-left:2px; -moz-border-radius: 5px; border-radius: 5px; ">
    <span class="title01"><font color="#FF9900">FIS Web</font></span>
    <br/>
      <span class="desc">For middle income business</span>
      <br/><br/>
      <div id="subsdesc">    
        <ul>
          <li>Exchange (2)</li>
        <li>Features (1)</li>
          <li>News (1)</li>
          <li>Tools (2)</li>
          </ul>
      </div>
      <a id="details" href="SubsList.html#web" target="_self"></a>      
        <br/> 
      </div>  
      
      <div style="float:left; width:250px; background:url(img/tabIn.jpg) repeat-x bottom #FFF; height: 400px; padding: 10px; border:5px solid #FFF; margin-left:2px; -moz-border-radius: 5px; border-radius: 5px; ">
      <span class="title01"><font color="#FF6600">Mobile - MSQ</font></span>
      <br/>
      <span class="desc">For those who wants reliability as compared to free broker services. Very basic features.</span>
      <br/><br/>
      <div id="subsdesc">    
        <ul>
        <li>Exchange (2)</li>
        <li>Features (4)</li>
        <li>News (3)</li>
        <li>Tools (2)</li>
        </ul>
        </div>
        <a id="details" href="SubsList.html#msq" target="_self"></a>      
        <br/>   
      </div>      
          
      
          
      <br clear="all"/>
</div>

</div>

<br clear="all">
        
    <div id="footer">
    	<div style="width:50%; margin-left: 20px; padding:5px auto; float:left;" class="Arial11">
        <font color="#999999">
        <a href="http://bessar.com.my/bessar/default.html">Bessar</a>  |
        <a href="Products.html">Products</a> |
        <a href="Subs.html">Subscription</a> |
        <a href="About.html">About Us</a> |
        <a href="SiteMap.html">Sitemap</a> |
        </font>
        </div>
        
    	<br clear="all">
        <br/><br/>
        
        <div style="padding:5px auto; margin:0px auto; width:500px;" class="Arial11">
        <font color="#FFFFFF">
		Copyright reserved | Bernama Systems & Solutions Advisor Sdn Bhd © 2012 | Privacy Policy
        </font>
        <br/>
        </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
